

.main {
    position: relative;
    background-color: #F4CEE2;
    width: 75%;
    height: 390px;
    border: 4px solid #01422A;
    z-index: 10;
}


.main-text img {
    height: 180px;
}

.half {
    position: absolute;
    left: 20px;
    top: 456px;
    transform: rotate(45deg)
}
