.container {
    position: relative;
}

.main {
    background-color: #F4CEE2;
    width: 75%;
    height: 390px;
    border: 4px solid #01422A;
}


.main-text img {
    height: 180px;
}

.half-container {
    /* position: absolute; */
    /* left: -10px; */
    /* top: 335px; */
}

.half {
    transform: rotate(45deg)
}
