
body {
  margin: 0;
}

body {
  color: var(--font-color);
  background: var(--color-primary);
}

.App {
  text-align: center;
}

.main {
  position: relative;
  width: 75%;
  height: 390px;
  border: 3px solid var(--color-accent);
  z-index: 10;
  font-weight: 900;
}

.card, .main{
  background-color: var(--color-secondary);
}

.form-card input {
  background-color: var(--input-color);
}

.theme-light {
  --color-primary: #FBF7EA;
  --color-secondary: #F4CEE2;
  --color-accent: #01422A;
  --font-color: #01422A;
  --input-color: #ffffff;
}

.theme-dark {
  --color-primary: #121212;
  --color-secondary: #464646;
  --color-accent: #01422A;
  --font-color: #FBF7EA;
  --input-color: #464646;
}
